<section class="app-page">
  <div class="app-grid">
    <article *ngFor="let event of events" class="app-card">
      <!-- Background image -->
      <div
        class="app-media"
        *ngIf="getThumbnail(event)"
        [ngStyle]="{ 'background-image': 'url(' + getThumbnail(event) + ')' }"
      ></div>

      <!-- dark overlay on image -->
      <div class="media-overlay"></div>

      <!-- animated caption -->
      <figcaption class="caption">
        <div class="show-cont">
          <h3 class="media-title">{{ event['Name'] }}</h3>
          <p class="card-content">{{ event['Description'] }}</p>
          <a class="explore-btn"  (click)="onEventClick(event)">Explore</a>
        </div>
      </figcaption>

      <!-- overlay gradient -->
      <span class="after"></span>
    </article>
  </div>
</section>
